/*! project specific CSS goes here. */
legend {
    line-height: 26px;
    font-size:16px;
}
legend span.label {
    margin-top:5px;

}
#report-form label.control-label {
    font-weight: bold;
}
hr {
    border-top: 1px solid #e5e5e5;
}
hr.tight {
    margin:5px 0;
}
.tight-well {
    padding:4px;
    background:transparent;
}
.space-top {
    margin-top:30px;

}
dl.dl-horizontal {
    margin:0;
}
a.pull-right {
    margin-right:5px;
}
.form-horizontal .control-group {
    margin-bottom:10px; /* half bootstrap default */
}
.no-label {
    margin-left:20px;

}
div.form-actions {

    padding-bottom:10px; /* half bootstrap default */
    padding-top:10px; /* half bootstrap default */
}
#report-form label.checkbox{
    white-space: nowrap;
    margin-left:0px;
    margin-right:10px;
}
#report-form hover {

}

ul.nav li.dropdown:hover > ul.dropdown-menu ,
ul.nav li.dropdown:hover > div.dropdown-menu {
    display: block;
    margin: 0;
}


.editable:hover {
    border: 1px solid #CCC;
}

.editable{
    padding:1px;
}

.editable:hover {
    padding:0;
}

.popover {
    max-width:400px;
    width:auto;
}

.splitter_panel .top_panel {
    overflow-y:scroll;
}

#triage-form div.form-actions{
    padding-left:0px;
}

.table-striped tbody tr.highlight td {
    background-color: rgba(221,64,20,0.1);
}

.underline {
    padding-bottom:4px;
    border-bottom:1px solid #ccc;
}


table, input.text_filter, select.select_filter {
    font-size:0.9em;
}

#comments h4 {
    font-size:1.1em;

}


.modal.large {
    width: 80%; /* respsonsive width */
    margin-left:-40%; /* width/2) */
}
div.modal-container{
    width:30%;
    float:left;
}

.popover {
    z-index: 9999;
    position: fixed;
}
.block {
    margin-bottom:50px;
}

.navbar h4.brand {
    padding-top:0;
    padding-bottom:0;

}

.form-horizontal label.iform-label {
    font-weight:bold;
}

.block-header {
    min-height:20px;
}


.block-header h4.brand{
    margin-top:2px;
    margin-bottom:4px;
    font-size:18px;
}

form a.btn.modal-trigger {
    text-align: left;
}
