<div class="tab-pane {% if active %}active{% endif %}" id="{{id}}">
    <h4>
        {{name}} Configuration
        <a href="#" class="pull-right btn btn-primary btn-mini" data-bind="visible:dirty(), click:save">Save Changes</a>
    </h4>
    <div class="messages"> </div>
    <ol class="vertical" id="{{id}}-list" data-bind="foreach : choices">
        <li class="choice-item">
            <form class="form form-horizontal choice-form">

                <div class="control-group">
                    <div class="input-prepend">
                        <span title="Click and drag to reorder" class="add-on move-handle"><i class="icon-move "></i></span>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">Name</span>
                        <input data-bind="value:$data.name, event:{change:$data.setDirty}" class="input-large" type="text" placeholder="Name">
                    </div>
                    <div class="input-prepend input-append">
                        <span class="add-on">Color</span>
                        <input data-bind="value:$data.color, valueUpdate:'changeColor'" class="colorpicker span1" type="text" placeholder="Color">
                        <span data-bind="style:{'background-color':$data.color}" class="add-on">&nbsp;</span>
                    </div>
                </div>

                <div class="control-group ">
                    <textarea data-bind="value:$data.description, event:{change:$data.setDirty}" class="input-block-level"  placeholder="description" rows="1"></textarea>
                </div>
            </form>

        </li>
    </ol>
    <form data-bind="submit: addItem">
        New item:
        <input data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />
        <button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>
        <a href="#" class="pull-right btn btn-primary btn-mini" data-bind="visible:dirty(), click:save">Save Changes</a>
    </form>
    <div class="messages"> </div>
</div>
