<div class="tab-pane {% if active %}active{% endif %}" id="{{id}}">
    <h4>
        {{name}} Configuration
        <a href="#" class="pull-right btn btn-primary btn-mini" data-bind="visible:dirty(), click:save">Save Changes</a>
    </h4>
    <div class="messages"> </div>

    <ol class="vertical default root" data-bind="template: { name: 'itemTmpl', foreach: items }"></ol>

    <script id="itemTmpl" type="text/html">
        <li>
            <form class="form form-inline choice-form">

                <div class="control-group">
                    <div class="input-prepend">
                        <span title="Click and drag to reorder" class="add-on move-handle"><i class="icon-move "></i></span>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">Name</span>
                        <input data-bind="value:name, event:{change:setDirty}" class="input-large" type="text" placeholder="Name">
                    </div>
                </div>

                <div class="control-group ">
                    <textarea data-bind="value:description, event:{change:setDirty}" class="input-block-level"  placeholder="description" rows="1"></textarea>
                </div>
            </form>
            <ol class="vertical default" data-bind="template: { name: 'itemTmpl', foreach: $data.children}"> </ol>
        </li>
    </script>
    <form data-bind="submit: addItem">
        New item:
        <input data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />
        <button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>
        <a href="#" class="pull-right btn btn-primary btn-mini" data-bind="visible:dirty(), click:save">Save Changes</a>
    </form>
    <div class="messages"> </div>
</div>
