{% extends 'incidents/incident_list.html' %}
{% load listable %}

{% block title %}Actual Incidents{% endblock title %}

{% block page_title %}<h3>Actual Incidents</h3>{% endblock page_title %}

{% block listable %}
    {% listable 'actual-incidents' save_state=True css_table_class='table-striped table-condensed' css_input_class='input-mini' %}
{% endblock %}

{% block page_description %}
<p>Showing all Actual incidents.</p>
{% endblock page_description %}
