{% extends 'base.html' %}
{% load incident_config %}

{% block title %}Config{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}incidents/css/config.css" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}sortable/js/jquery-sortable-min.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/models.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/config.js"></script>
    <script src="{{ STATIC_URL }}colorpicker/js/bootstrap-colorpicker.js"></script>
{% endblock %}

{% block content %}

{% if request.user.is_anonymous or not request.user.is_staff%}
<div class="row">
    <div class="span12">
        <p>Please <a href="{% url 'django.contrib.auth.views.login' %}?next={{request.path}}">Login</a> Before Continuing</p>
    </div>
</div>
{% else %}

<div class="row">
    <div class="span12">

        <div class="tabbable tabs-left">

            <ul id="report-tabs" class="tabs nav nav-tabs" data-tabs="tabs">
                <li class="nav-header">Reporting config</li>
                {% for id, name, type in report_containers %}
                <li {%if forloop.first %}class="active"{%endif%}><a href="#{{id}}" data-toggle="tab">{{name}}</a></li>
                {% endfor %}
                <li class="nav-header">Investigation config</li>

                {% for id, name, type in investigation_containers %}
                <li><a href="#{{id}}" data-toggle="tab">{{name}}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for id, name, type in report_containers %}
                    {% kochoice id name type forloop.first%}
                {% endfor %}

                {% for id, name, type in investigation_containers %}
                    {% kochoice id name type 0 %}
                {% endfor %}
            </div>


        </div>
    </div>
</div>

{% endif %}

{% endblock content %}
