{% extends 'base.html' %}
{% block title %}Report an Incident{% endblock title %}
{% block page_title %}<h3>Report an Incident</h3>{% endblock page_title%}
{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/datepicker.css" rel="stylesheet">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script type="text/javascript">
        var SEVERITIES = {{severities|safe}};
    </script>
    <script src="{{ STATIC_URL }}incidents/js/report.js?{{VERSION}}" ></script>
{% endblock extra_js %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span8">
                <p>
                    An incident is any unwanted or unexpected change from a normal
                    system behaviour that causes, or has the potential to cause, an
                    adverse effect to persons or equipment.
                </p>
                <p>
                    Potential incidents or &lsquo;near-misses&rsquo; must also be reported.
                </p>
                <hr class="tight"/>
            </div>
        </div>
        <div class="row">
            <div class="span7">

                <form autocomplete="off" id="report-form" class="form-horizontal" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {% if field.label != form.submitted_by.label and field.label != form.auth_password.label %}
                            <div class="control-group ils-popover {% if field.errors %}error{% endif %}"
                                {% if field.label != form.severity.label %}
                                data-content="{{field.help_text}}"
                                {% endif %}
                                data-original-title="<strong>{{field.label}}</strong>">
                                <label class="control-label" for="{{field.html_name}}">{{field.label}}{% if field.field.required %}*{% endif %}</label>
                                <div class="controls" >

                                    {% if field.label ==  form.incident_date.label %}
                                        <div class="input-append date datepicker" data-date-format="dd M yyyy" title="Click to change date" id="dp3" >
                                            <input id="id_{{field.html_name}}" name="{{field.html_name}}" class="span2"  size="16" type="text" readonly=""
                                                value="{% now "SHORT_DATE_FORMAT" %}"/>
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                    {% else %}
                                        {{field}}
                                        {% if field.label == form.email.label %}
                                            <span class="help-inline">{{field.help_text}}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="help-block">{{error}}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="control-group form-actions form-inline {% if form.auth_password.errors or form.submitted_by.errors %}error{% endif %}">
                        <label ><strong>Username</strong></label>
                        <input id="id_{{form.submitted_by.html_name}}" name="{{form.submitted_by.html_name}}" type="text" class="input-small" placeholder="Username">
                        <label ><strong>Password</strong></label>
                        <input id="id_{{form.auth_password.html_name}}" name="{{form.auth_password.html_name}}" type="password" class="input-small" placeholder="Password">

                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% if form.auth_password.errors or form.submitted_by.errors %}
                            <span class="help-inline">Invalid Username &amp; Password</span>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

