{% extends 'base.html' %}
{% load listable %}

{% block title %}Statistics on Incomplete Incidents{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    {% listable_css %}
{% endblock extra_css %}

{% block extra_js %}
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/incomplete_stats.js"></script>

    {% listable_js %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <h3>Incomplete Incident Statistics</h3>
        <form autocomplete="off" id="report-form" action="." class="form-horizontal" method="get">
            {% csrf_token %}

            <div class="control-group">
                <label class="control-label" for="from_date">From Date:</label>
                <div class="controls" >
                    <div class="input-append date datepicker" data-date-format="dd M yyyy" title="Click to change date" id="dp3" >
                        <input id="from_date" name="from_date" class="span2"  size="16" type="text" readonly=""
                        value="{{from_date|date:"SHORT_DATE_FORMAT"}}"/>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                </div>

                <label class="control-label" for="to_date">To Date:</label>
                <div class="controls" >
                    <div class="input-append date datepicker" data-date-format="dd M yyyy" title="Click to change date" id="dp3" >
                        <input id="to_date" name="to_date" class="span2"  size="16" type="text" readonly=""
                        value="{{to_date|date:"SHORT_DATE_FORMAT"}}"/>
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Go</button>
                </div>

            </div>
        </form>

    </div>
</div>

<div class="row">
    <div class="span6">
        <table class="table table-striped table-condensed">
            <tbody>
                <tr>
                    <td colspan="2"><strong>Summary</strong></td>
                </tr>
                <tr>
                    <td>Total # of incidents</td>
                    <td>{{all_incidents.count}}</td>
                </tr>

                <tr>
                    <td># of invalid incidents</td>
                    <td>{{invalid.count}}</td>
                </tr>

                <tr>
                    <td># of complete valid incidents</td>
                    <td>{{complete_and_valid.count}}</td>
                </tr>

                <tr>
                    <td># of incomplete valid incidents</td>
                    <td>{{incomplete_and_valid.count}}</td>
                </tr>
            </tbody>
        </table>

        <table id="user-table" class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Investigator</th>
                    <th># Incomplete </th>
                    <th>Incomplete Investigations</th>
                </tr>
            </thead>
            <tbody>
                {% for investigator, incidents in by_user.iteritems %}
                <tr>
                    <td>{{investigator}}</td>
                    <td>{{incidents|length}}</td>
                    <td>
                        {% for inc in incidents %}
                        <a href="{{inc.get_absolute_url}}">{{inc.pk}}</a>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Investigator</th>
                    <th># Incomplete </th>
                    <th>Incomplete investigations</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

{% endblock content %}
