{% extends 'base.html' %}
{% load listable %}

{% block title %}Statistics{% endblock title %}

{% block page_title %}{% endblock page_title %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/select2-bootstrap.css" rel="stylesheet">
    {% listable_css %}
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript" >
        var typeCounts = {{type_counts|safe}};
        var statusCounts = {{status_counts|safe}};
        var severityCounts = {{severity_counts|safe}};
        var domainCounts = {{domain_counts|safe}};
        var causeCounts = {{cause_counts|safe}};
    </script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/moment.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}select2/select2.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-editable/js/bootstrap-editable.js"></script>
    <script src="{{ STATIC_URL }}incidents/js/statistics.js?{{VERSION}}"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}flot/excanvas.min.js"></script><![endif]-->
    <script src="{{ STATIC_URL }}flot/jquery.flot.min.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.categories.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.stack.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.tickrotor.js"></script>

    {% listable_js %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="span12">
        <h4 class="brand underline">Incident Statistics for
            <select style="margin-bottom:2px" id="year-select" class="input-small">
                {% for y in years %}
                    <option value="{{y}}" {% if y == selected_year %}selected="selected"{% endif %}>{{y}}</option>
                {% endfor %}
            </select>
        </h4>
        <div class="span4">
            <ul class="nav nav-list">
                <li class="nav-header">Jump to:</li>
                <li><a href="#summary-wrapper">Summary</a></li>
                <li><a href="#domain-wrapper">Origin &amp; Detection Domains</a></li>
                <li><a href="#cause-wrapper">Causality</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="summary-wrapper" class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h4 class="brand underline">Incident counts by type for {{selected_year}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            {% for th in summary_header %}
                            <th>{{th}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="error">
                            {% for td in actual_table.0 %}
                            <td><strong>{{td}}</strong></td>
                            {% endfor %}
                        </tr>
                        {% for tr in actual_table|slice:"1:" %}
                            <tr>
                                {% for td in tr %}
                                    <td>{{td}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        <tr class="warning">
                            {% for td in potential_table.0 %}
                            <td><strong>{{td}}</strong></td>
                            {% endfor %}
                        </tr>
                        {% for tr in potential_table|slice:"1:" %}
                            <tr>
                                {% for td in tr %}
                                    <td>{{td}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}

                        <tr class="">
                            {% for td in invalid %}
                                <td><strong>{{td}}</strong></td>
                            {% endfor %}
                        </tr>
                        <tr class="">
                            {% for td in grand_totals %}
                                <td><strong>{{td}}</strong></td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="span6">
                <div class="row">
                    <div class="span6">
                        <div class="pull-left" id="incident-chart" style="width:80%; height:150px"></div>
                        <div class="pull-right" id="incident-legend" class="legend" style="width:20%; height:150px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="pull-left" id="severity-chart" style="width:80%; height:150px"></div>
                        <div class="pull-right" id="severity-legend" class="legend" style="width:20%; height:150px"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="pull-left" id="status-chart" style="width:80%; height:150px"></div>
                        <div class="pull-right" id="status-legend" class="legend" style="width:20%; height:150px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="domain-wrapper" class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h4 class="brand underline">Incident domains for {{selected_year}}</h4>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#domain-table-tab" data-toggle="tab">Table</a></li>
                    <li><a href="#origin-domain-chart-tab" data-toggle="tab">Origin Chart</a></li>
                    <li><a href="#detection-domain-chart-tab" data-toggle="tab">Detection Chart</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="domain-table-tab">
                        <table id="domain-table" class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    {% for th in domain_header %}
                                    <th>{{th}}</th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for th in domain_header %}
                                    <th>{{th}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for tr in domain_table %}
                                    <tr>
                                        {% for td in tr %}
                                            <td>{{td}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="origin-domain-chart-tab">
                        <div class="row">
                            <div class="span12">
                                <legend>Origin Domain</legend>
                                <div id="origin-domain-chart" style="width:100%; height:800px"></div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="detection-domain-chart-tab">
                        <div class="row">
                            <div class="span12">
                                <legend>Detection Domain</legend>
                                <div id="detection-domain-chart" style="width:100%; height:800px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cause-wrapper" class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h4 class="brand underline">Incident Causes for {{selected_year}}</h4>
                <p><em>Only causes attributed to one or more incidents are shown</em></p>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#cause-table-tab" data-toggle="tab">Table</a></li>
                    <li><a href="#cause-chart-tab" data-toggle="tab">Causality Chart</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="cause-table-tab">
                        <table id="cause-table" class="table table-striped table-condensed">
                            <thead>
                                <tr>
                                    {% for th in cause_header %}
                                    <th>{{th}}</th>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for th in cause_header %}
                                    <th>{{th}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for tr in cause_table %}
                                    <tr>
                                        {% for td in tr %}
                                            <td>{{td}}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="cause-chart-tab">
                        <div class="row">
                            <div class="span12">
                                <legend>Causality</legend>
                                <div id="cause-chart" style="width:100%; height:800px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
