{% load js %}
<!DOCTYPE html> <!-- html5 -->
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta charset="utf-8">
    <title>SaILS :: {% block title %}Home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap_light.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}js/html5.js"></script>
    <![endif]-->

    <link href="{{ STATIC_URL }}css/font-awesome.min.css" rel="stylesheet">

    <!--[if IE 7]>
    <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome-ie7.min.css">
    <![endif]-->

    <link href="{{ STATIC_URL }}splitter/css/jquery.splitter.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">
    <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body {% block body_attr%}{%endblock%}>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SaILS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

                <li><a href="{% url 'report' %}">Report An Incident</a></li>


                {% if perms.incidents %}
                    <li><a href="{% url 'dashboard' %}" title="View Incident Dashboard"><i class="icon-dashboard"></i> Dashboard</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Incidents <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Incidents</li>
                            <li><a href="{% url 'triage' %}" title="Triage recently reported incidents"><i class="icon-hand-right"></i> Triage</a></li>
                            <li><a href="{% url 'incomplete-incidents' %}" title="View incomplete & flagged investigations"><i class="icon-folder-open-alt"></i> Incomplete &amp; Flagged</a></li>
                            <li><a href="{% url 'complete-incidents' %}" title="View all completed incidents"><i class="icon-folder-close-alt"></i> Complete</a></li>
                            <li><a href="{% url 'actual-incidents' %}" title="View all valid Actual incidents"><i class="icon-warning-sign"></i> Actual</a></li>
                            <li><a href="{% url 'invalid-incidents' %}" title="View all invalid incidents"><i class="icon-ban-circle"></i> Invalid</a></li>
                            <li><a href="{% url 'all-incidents' %}" title="View all incidents"><i class="icon-globe"></i> All Incidents</a></li>

                            <li class="divider"></li>
                            <li class="nav-header">My Incidents</li>
                            <li><a href="{% url 'my-incidents' %}" title="View all incidents you have submitted"><i class="icon-user"></i> Submitted</a></li>
                            <li><a href="{% url 'my-investigations' %}" title="View all incident investigations you have been assigned "><i class="icon-zoom-in"></i> Investigations</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Learning <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Actions</li>
                            <li><a href="{% url 'incomplete-actions' %}" title="View incomplete learning actions"><i class="icon-folder-open-alt"></i> Incomplete</a></li>
                            <li><a href="{% url 'complete-actions' %}" title="View all completed actions"><i class="icon-folder-close-alt"></i> Complete</a></li>
                            <li><a href="{% url 'all-actions' %}" title="View all actions"><i class="icon-globe"></i> All Actions</a></li>

                            <li class="divider"></li>
                            <li class="nav-header">My Actions</li>
                            <li><a href="{% url 'my-incomplete-actions' %}" title="View all incomplete actions you have been assigned "><i class="icon-zoom-in"></i> Incomplete</a></li>
                            <li><a href="{% url 'my-complete-actions' %}" title="View all complete actions you have been assigned "><i class="icon-zoom-in"></i> Complete</a></li>
                            <li><a href="{% url 'my-actions' %}" title="View all incident investigations you have been assigned "><i class="icon-zoom-in"></i> All</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if not request.user.is_anonymous %}
                <li class="dropdown">
                    <a href="{% url 'statistics' %}" class="dropdown-toggle" data-toggle="dropdown">
                        Statistics <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'statistics' %}" title="View overall statistics"><i class="icon-bar-chart"></i> Overall</a></li>
                        {% if perms.incidents %}
                        <li><a href="{% url 'incomplete-statistics' %}" title="View statistic on incomplete incidents"><i class="icon-folder-open-alt"></i> Incomplete</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

            </ul>

            {% if not request.user.is_anonymous %}
                <ul class="nav pull-right">
                    <li class="dropdown">
                    <input id="username" type="hidden" value="{{request.user.username}}"/>

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{request.user}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="list-style:none;">
                            {% if request.user.is_staff %}
                                <li><a href="{% url 'admin:index' %}"><i class="icon-tasks"></i> Admin</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li>
                                <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                        <div id="login-wrapper" class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">

                            <form id="nav-login-form" method="POST" action="{% url 'django.contrib.auth.views.login' %}?{{request.META.QUERY_STRING}}" autocapitalize="off" >
                                {% csrf_token %}
                                {% if 'next=' not in request.META.QUERY_STRING %}
                                <input type="hidden" name="next" value="{% url 'report' %}"/>
                                {% endif %}

                                <div class="control-group">
                                    <label class="control-label"for="username">Username</label>
                                    <div class="controls">
                                        <input id="id_username" name="username" style="margin-bottom: 5px;" type="text" size="30" placeholder="Username"/>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label"for="password">Password</label>
                                    <div class="controls">
                                        <input id="id_password" name="password" style="margin-bottom: 5px;" type="password" size="30" placeholder="Password"/>
                                    </div>
                                </div>

                                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                            </form>
                        </div>
                    </li>
                </ul>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% for message in messages %}
            <div class="alert fade in {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                <a class="close" href="#" data-dismiss="alert">&times;</a>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_title %}{% endblock page_title %}

        {% block content %}
        <p>Base ILS Template</p>
        {% endblock content %}

        {% block footer %}
        <div class="row-fluid">
            <div class="legal span12 text-center">
                <hr/>
                SaILS+ v{{VERSION}} | &copy; 2014 The Ottawa Hospital Cancer Center | <a title="Report an error or bug" href="{{BUG_REPORT_URL}}">Report a Bug</a>
            </div>
        </div>
        {% endblock footer %}
    </div> <!-- /container -->

    <script src="{{STATIC_URL}}js/json2.js"></script>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    {% django_js jquery=false %}

    <script src="{{STATIC_URL}}js/underscore.min.js"></script>
    <script src="{{STATIC_URL}}js/moment.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/knockout.js"></script>
    <!-- place project specific Javascript in this file -->
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
